@import url("https://fonts.goggleapis.com/css2?family=Parisienne&disply=swap");
.animated-wrapper {
    animation-name: move-wrapper;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    position: absolute;
}

@keyframes move-wrapper {
    0% {
        transform: translate(150%,30%) rotate(0) scale(0.8);
    }
    50% {
        transform: translate(60vw, 0vh) rotate(150deg) scale(1.2);
    }
    to {
        transform: translate(40vw, 40vh) rotate(0deg) scale(0.8);
    }
}